/* @media screen and (max-width: 580px) { */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* FONTS */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
  font-family: "Varela Round", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
li,
i,
.txt-m {
  font-size: 1rem;
  margin: 0.5vw 0.2vw;
}
.txt-s {
  font-size: 1rem;
  margin: 0.5vw;
}
.txt-xs {
  font-size: 1rem;
  margin: 0.5vw;
}
.txt-xxs {
  font-size: 1rem;
  margin: 0.5vw;
}
.txt-l {
  font-size: 1.1rem;
  margin: 0.5vw;
}
.txt-xl {
  font-size: 1.2rem;
  margin: 0.6vw;
}
.txt-xxl {
  font-size: 1.3rem;
  margin: 0.6vw;
}

a {
  text-decoration: none;
}

.txt-bold {
  font-weight: bold;
}
.txt-underline {
  text-decoration: underline;
}

.title-xl {
  font-size: 2rem;
  margin: 0.8vw;
}
.title-l {
  font-size: 1.7rem;
  margin: 0.8vw;
}
.title-m {
  font-size: 1.6rem;
  margin: 0.7vw;
}
.title-s {
  font-size: 1.5rem;
  color: var(--text-grey);
  margin: 0.7vw;
}
.title-xs {
  font-size: 1.4rem;
  color: var(--text-grey);
  margin: 0.7vw;
}

br {
  margin-top: 3vh;
}

/* 
.txt-xs {
}
.txt-xxs {
}
 */

.txt-start {
  text-align: start;
}
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}
.txt-end {
  text-align: end;
}

button {
  min-height: 5vh;
  padding: 1vw;
}
button p {
  font-size: 1rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* BOXES */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
* {
  box-sizing: border-box;
  margin: 0px;
  overflow-x: hidden;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HEADERS */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
header {
  width: 100vw;
}

/* //////////////////////////////////////////////////// */
/* HEADER : aio */
.hAio {
  height: 25vw;
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25vw 1fr 15vw;
  grid-template-rows: 1fr;
}
.hAio__logo--container {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hAio__logo--img {
  max-width: 25vw;
  max-height: 100%;
}
.hAio__title {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hAio__title * {
  text-align: center;
}
.hAio__nav {
  display: none;
}
.hAio__link {
  display: none;
}

.hAio__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100vw;
  width: 60vw;
  height: 100vh;
  transition-duration: 0.4s;
  padding: 0px 2vw;
  border-left: 2px solid var(--color-red);
  z-index: 400;
}
.h__tall,
.h__filler {
  height: 10vh !important;
}
.hAio__menu .hAio__nav {
  display: flex;
  flex-direction: column;
}
.hAio__menu .hAio__link {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 1vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.hAio__menu .hAio__link--choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hAio__menu .hAio__link--choice * {
  font-size: 2.5rem;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0px;
  text-align: center;
}

.hAio__burger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SECTIONS */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.s__height--full {
  min-height: 100vh;
}
.s__height--xl {
  min-height: 92vh;
}
.s__height--l {
  min-height: 86vh;
}
.s__height--m {
  min-height: 75vh;
}
.s__height--s {
  min-height: 64vh;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* BG IMAGE */
.s__bg--image {
  /* MAKE IT AN IMAGE */
  /* background-image: url(./test-bg.png); */

  /* MAKE IT A COLOR OR GRADIENT */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* //////////////////////////////////////////////////// */
/* SECTION : TEXT IN THE MIDDLE W/ IMAGE IN THE BG */
.s__bg--text {
  color: var(--text-white);
  text-align: center;
  height: 70vh;
}
.s__bg--text--title {
  font-size: 1.6rem;
}
.s__bg--text--subtitle {
  font-size: 01rem;
}
.s__bg--arrow {
  text-shadow: var(--outline-black);
  height: 20vh;
  animation-name: upAndDown;
  animation-duration: 3s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}
.section-downArrow * {
  height: 100%;
}
.s__bg--arrow i {
  font-size: 2rem;
}

/* //////////////////////////////////////////////////// */
/* SECTION : text */
.s__text {
}
.s__text--title--right {
  text-align: right;
}
.s__text--title--left {
  text-align: left;
}
.s__text--content {
  width: 85%;
  margin: 6vh 0px;
}
.s__text--content--text {
  margin: 2vh 0px;
}

/* //////////////////////////////////////////////////// */

/* Biography */
.s__bio {
  padding: 5vw;
  display: grid;
  grid-template-columns: 1fr;
}
.s__bio--main,
.s__bio--side {
  min-height: 30vh;
  border-radius: 2vh;
  margin: 1rem;
  padding: 2vh;
}
.s__bio--main {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
}
.s__bio--main--text {
  width: 100%;
}
.s__bio--side--email {
  font-size: 1.4vw;
}
.s__bio--main--img {
  max-height: 100%;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50vh;
}

/* //////////////////////////////////////////////////// */
/* SECTION : images in a grid */

.s__gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px;
}
.s__gallery--item {
  display: inline-block;
  height: 25vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.s__gallery--item--image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.s__gallery--item--text {
  position: absolute;
  z-index: 200;
  bottom: 15%;
  left: 10%;
}

/* //////////////////////////////////////////////////// */
/* SECTION : DESCRIPTIONS */
.s__desc {
  padding: 4vw 2vw;
}
.s__desc--content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.s__desc--content--description {
  width: 94vw;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  color: var(--text-white);
}

/* //////////////////////////////////////////////////// */
/* SECTION : display (text with an image) */
.s__display {
  /*  you want as many displays as you want => no max height */
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 3vh 5vw;
}
.s__display--itemFirst {
  padding: 1.5vw 1.5vw;
  width: 90vw;
  min-height: 30vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 5vh 0px;
}
.s__display--itemSecond {
  padding: 1.5vw 1.5vw;
  width: 90vw;
  min-height: 30vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  margin: 5vh 0px;
}
.s__display--item--text {
  margin: 0px;
  text-align: center;
}
.s__display--item--text button {
  width: 70% !important;
}
.s__display--item--img {
  padding: 1rem;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* //////////////////////////////////////////////////// */
/* SECTION : Full display (text with an image) */
.s__fDisplay {
}
.s__fDisplay--first,
.s__fDisplay--second {
  width: 100vw;
  display: flex;
}
.s__fDisplay--first {
  flex-direction: column;
}
.s__fDisplay--second {
  flex-direction: column-reverse;
}
.s__fDisplay--img {
  width: 100%;
  overflow: hidden;
}
.s__fDisplay--content {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.75rem;
  text-align: center;
}

.s__fDisplay--img--rect,
.s__fDisplay--img--square,
.s__fDisplay--img--screen {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.s__fDisplay--img--rect {
  aspect-ratio: 16/9;
}
.s__fDisplay--img--square {
  aspect-ratio: 16/9;
}
.s__fDisplay--img--screen {
  aspect-ratio: 16/9;
}
/* 
.s__fDisplay {
  flex-direction: column;
}
.s__fDisplay--first {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35vh 25vh;
}
.s__fDisplay--second {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25vh 35vh;
}
.s__fDisplay--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.s__fDisplay--text p,
.s__fDisplay--text h1,
.s__fDisplay--text h2,
.s__fDisplay--text h3,
.s__fDisplay--text h4,
.s__fDisplay--text h5 {
  margin: 0.8vw 1vw;
  text-align: center;
}

.s__fDisplay--text a {
  margin: 0px;
  width: 85%;
}
.s__fDisplay--text a p {
  margin: 0px;
  width: 100%;
} */

/* //////////////////////////////////////////////////// */
/* SECTION : listing-cards (listed stuff) */

.s__listing {
  padding: 1rem 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.s__listing--item {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 85vw;
  position: relative;
}
.s__listing--himg {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.s__listing-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 50%;
  filter: contrast(95%);
  object-fit: cover;
  z-index: 100;
}
.s__listing--himg {
  width: 100%;
  height: 2.5rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.s__listing--bg,
.s__listing--bgfull {
  position: absolute;
  height: 100%;
  width: 100%;

  object-fit: cover;
  z-index: 100;
}
.s__listing--bg {
  opacity: 50%;
  filter: contrast(95%) grayscale(15%);
}
.s__listing--content {
  padding: 0.4rem;
  z-index: 105;
}
.s__listing--item .s__listing--content p {
  font-size: 0.2rem;
}
.s__listing--content--title {
  margin: 0.5rem 0 0 0;
}
.s__listing--cimg {
  width: calc(100% - 1rem);
  margin: 0.5rem 0.5rem 0 0.5rem;
  aspect-ratio: 10/7;
}
.s__listing .s__listing--content > p {
  font-size: 0.85rem;
}
.s__listing .s__listing--content > .s__listing--content--title {
  font-size: 1.25rem;
}
.s__listing hr {
  margin: 0.6rem 0;
}

/* Cards ratios */
.card-tarot {
  aspect-ratio: 7 / 12;
}
.card-playcard {
  aspect-ratio: 5 / 7;
}

/* //////////////////////////////////////////////////// */
/* SECTION : Social media */
.s__socials {
  min-height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s__socials--title {
  text-align: center;
  width: 50%;
  padding: 2vh 0;
}
.s__socials--links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0;
}
.s__socials--links * {
  max-height: 100%;
  font-size: 1.5rem;
  padding: 0.2vh;
}
.s__socials--links i {
  max-height: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* FOOTER */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////// */
/* FOOTER : AIO */

.fAio {
  padding: 0.3vh 0.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fAio div {
  padding: 2vh 0px;
}
.fAio p {
  font-size: 1rem;
}
.fAio__content {
  min-height: 100%;
}
.fAio__content--list {
  padding: 0px;
}
.fAio__content--list i {
  font-size: 1rem;
  padding: 0px 2vh;
}
/* } */
