/* @media screen and (max-width: 580px) { */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* FONTS */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
.txt-m {
  font-size: 1.2rem;
}
.txt-s {
  font-size: 1.1rem;
}
.txt-xs {
  font-size: 1rem;
}
.txt-xxs {
  font-size: 0.9rem;
}
.txt-l {
  font-size: 1.4rem;
}
.txt-xl {
  font-size: 1.5rem;
}
.txt-xxl {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.txt-bold {
  font-weight: bold;
}
.txt-underline {
  text-decoration: underline;
}

.title-xl {
  font-size: 3rem;
}
.title-l {
  font-size: 2.6rem;
}
.title-m {
  font-size: 2.4rem;
}
.title-s {
  font-size: 2.2rem;
}
.title-xs {
  font-size: 1.8rem;
}

br {
  height: 1rem;
}

button {
  padding: 1.25rem 1rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* BOXES */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
  box-sizing: border-box;
  margin: 0px;
  overflow-x: hidden;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HEADERS */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
header {
  width: 100%;
}
/*AIO HEADER : aio */
.hAio {
  height: 4rem;
  width: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: 0.5rem;
  padding: 0 2rem 0 0;
}
.hAio__logo--container {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hAio__logo--img {
  height: 100%;
}
.hAio__title {
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hAio__title * {
  text-align: center;
}

.hAio__menu {
  display: none;
}
.hAio__nav {
  width: 55vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hAio__nav--choice {
  width: 20%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
}
/* Link */
.hAio__link {
  width: 12rem;
  min-height: 4rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hAio__link--choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hAio__link--choice * {
  width: 3rem;
  font-size: 1.4rem;
  margin: 0px;
  text-align: center;
}
.hAio__burger {
  display: none;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SECTIONS */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.s__height--intro {
  height: calc(100vh - 4rem);
}
.s__height--full {
  height: calc(60vh + 22rem);
}
.s__height--xl {
  height: calc(50vh + 22rem);
}
.s__height--l {
  height: calc(45vh + 22rem);
}
.s__height--m {
  height: calc(40vh + 22rem);
}
.s__height--s {
  height: calc(35vh + 22rem);
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* BG IMAGE */
.s__bg--image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* MAKE IT AN IMAGE */

  /* MAKE IT A COLOR OR GRADIENT */

  /* background: rgb(213,0,0);
        background: radial-gradient(circle, rgba(213,0,0,1) 0%, rgba(0,0,0,1) 100%);  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* //////////////////////////////////////////////////// */
/* SECTION : TEXT IN THE MIDDLE W/ IMAGE IN THE BG */
.s__bg--text {
  margin-top: 10vh;
  color: var(--text-white);
  text-align: center;
  max-height: calc(80%-15rem);
}
/* .s__bg--text--title {
}
.s__bg--text--subtitle {
} */
.s__bg--arrow {
  max-height: 15rem;
  animation-name: upAndDown;
  animation-duration: 3s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}
.s__bg--arrow i {
  font-size: 4rem;
}

/* //////////////////////////////////////////////////// */
/* SECTION : text */
.s__text {
}
.s__text--title--right,
.s__text--title--left {
  font-size: 5rem;
}
.s__text--title--right {
  text-align: right;
}
.s__text--title--left {
  text-align: left;
}
.s__text--content {
  width: 80%;
  margin: 3rem 0px;
}
.s__text--content--text {
  margin: 1rem 0px;
}

/* //////////////////////////////////////////////////// */

/* Biography */
.s__bio {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.s__bio--main,
.s__bio--side {
  padding: 2rem;
  min-height: 35rem;
}

.s__bio--main {
  min-width: 50vmax;
  display: flex;
  flex-direction: column;
}
.s__bio--side {
  aspect-ratio: 5/7;
}
.s__bio--side--email {
  font-size: 1.5rem;
}
.s__bio--side--dl {
  display: flex;
  flex-direction: column;
}
.s__bio--side--dl > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.s__bio--side--dl > a > * {
  width: 100%;
}
.s__bio--main--img {
  border-radius: 100%;
  height: 10rem;
  aspect-ratio: 1/1;
}

/* //////////////////////////////////////////////////// */
/* SECTION : images in a grid */

.s__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
}
.s__gallery--item {
  cursor: pointer;
  display: inline-block;
  aspect-ratio: 16/9;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.s__gallery--item--image {
  object-fit: cover;
  filter: grayscale(00%);
  width: 100%;
  height: 100%;
  transition-duration: 150ms;
}
.s__gallery--item:hover .s__gallery--item--image {
  object-fit: cover;
  filter: grayscale(60%) blur(0.1rem);
}

/* //////////////////////////////////////////////////// */
/* UPON HOVER FOR EACH IMAGES */
.s__gallery--item--text {
  position: absolute;
  z-index: 120;
  bottom: 30%;
  left: 10%;
  opacity: 0%;
  transition: 0.3s ease-out;
}
.s__gallery--item:hover .s__gallery--item--text {
  bottom: 10%;
  opacity: 100%;
}

/* //////////////////////////////////////////////////// */
/* SECTION : DESCRIPTIONS */
.s__desc {
  padding: 2rem;
}
.s__desc--content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.s__desc--content--description {
  max-width: calc((100 / 3) - 4rem);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.s__desc--content--description:first-child {
  min-height: 3rem;
}

/* //////////////////////////////////////////////////// */
/* SECTION : display (text with an image) */
.s__display {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}
.s__display--itemFirst,
.s__display--itemSecond {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  min-height: 20rem;
  width: 75%;
}
.s__display--item--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 75%;
}
.s__display--item--img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* //////////////////////////////////////////////////// */
/* SECTION : Full display (text with an image) */
.s__fDisplay {
  flex-direction: column;
}
.s__fDisplay--first,
.s__fDisplay--second {
  height: calc(20vh + 15rem);
  width: 100%;
  display: flex;
}
.s__fDisplay--first {
  flex-direction: row;
}
.s__fDisplay--second {
  flex-direction: row-reverse;
}
.s__fDisplay--img {
  height: 100%;
  overflow: hidden;
}
.s__fDisplay--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.s__fDisplay--img--rect,
.s__fDisplay--img--square,
.s__fDisplay--img--screen {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
.s__fDisplay--img--rect {
  aspect-ratio: 7/5;
}
.s__fDisplay--img--square {
  aspect-ratio: 1/1;
}
.s__fDisplay--img--screen {
  aspect-ratio: 16/9;
}

/* //////////////////////////////////////////////////// */
/* SECTION : listing-card (listed cards) */

.s__listing {
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}
.s__listing--item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 24vw;
  position: relative;
}
.s__listing--himg {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.s__listing--bg,
.s__listing--bgfull {
  position: absolute;
  height: 100%;
  width: 100%;

  object-fit: cover;
  z-index: 100;
}
.s__listing--bg {
  opacity: 50%;
  filter: contrast(95%) grayscale(15%);
}
.s__listing--content {
  z-index: 105;
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
}
.s__listing--content--title {
  margin: 0.75rem 0 0 0;
}
.s__listing--cimg {
  width: calc(100% - 3rem);
  margin: 1.5rem 1.5rem 0 1.5rem;
  aspect-ratio: 10/7;
}

/* Cards ratios */
.card-tarot {
  aspect-ratio: 7 / 12;
}
.card-playcard {
  aspect-ratio: 5 / 7;
}
.card-square {
  aspect-ratio: 1/1;
}

/* Responsive cards for desktops
you have less than 1080p ? cope */
@media screen and (max-width: 1919px) and (min-width: 580px) {
  .s__listing--item {
    width: 35vw;
  }
  .s__listing--content > p {
    font-size: 1.5vw;
  }
  .s__listing--content > p.title-s {
    font-size: 2.25vw;
  }
}
@media screen and (min-width: 1920px) {
  .s__listing--item {
    width: 24vw;
  }
}

/* //////////////////////////////////////////////////// */
/* SECTION : Social media */
.s__socials {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s__socials--title {
  text-align: center;
  width: 50%;
  padding: 2rem 0;
}
.s__socials--links {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.s__socials--links > * {
  width: 10rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s__socials--links i {
  max-height: 100%;
  text-align: center;
  font-size: 6rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* FOOTER */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////// */
/* FOOTER : AIO */

.fAio {
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fAio p {
  font-size: 1.5rem;
}
.fAio__content {
  height: 100%;
}
.fAio__content_item--list {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
